* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: azure;
}

nav{
    /*display: inline-block para tirar os potilhados  */
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    /*Deixar varias cores*/
    background: linear-gradient(0deg, rgba(193, 188, 188, 0.31) 0%,rgba(255, 255, 255, 0.27) 90%);
    font-family: 'Courier New', Courier, monospace;
	font-size:50px;
  }

header li {
	
	display: solid;
	width: 100%;
	/*Para ter espaço entre as listas */
	margin: 10px;
	margin-left: 30px;
}
nav li {
	display: inline-block;
	margin: 10px;
}

ul menu {
	display: inline-block;
	margin: 10px;
	
}